<div>
  <h2 id="page-heading" data-cy="SaleItemHeading">
    <span jhiTranslate="computechApp.saleItem.home.title">Sale Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="computechApp.saleItem.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sale-item"
        [routerLink]="['/sale-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="computechApp.saleItem.home.createLabel">Crear nuevo Sale Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (saleItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="computechApp.saleItem.home.notFound">Ningún Sale Items encontrado</span>
    </div>
  }

  @if (saleItems && saleItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span jhiTranslate="computechApp.saleItem.price">Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="option.id">
              <div class="d-flex">
                <span jhiTranslate="computechApp.saleItem.option">Option</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="extra.id">
              <div class="d-flex">
                <span jhiTranslate="computechApp.saleItem.extra">Extra</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sale.id">
              <div class="d-flex">
                <span jhiTranslate="computechApp.saleItem.sale">Sale</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (saleItem of saleItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sale-item', saleItem.id, 'view']">{{ saleItem.id }}</a>
              </td>
              <td>{{ saleItem.price }}</td>
              <td>
                @if (saleItem.option) {
                  <div>
                    <a [routerLink]="['/option', saleItem.option.id, 'view']">{{ saleItem.option.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (saleItem.extra) {
                  <div>
                    <a [routerLink]="['/extra', saleItem.extra.id, 'view']">{{ saleItem.extra.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (saleItem.sale) {
                  <div>
                    <a [routerLink]="['/sale', saleItem.sale.id, 'view']">{{ saleItem.sale.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sale-item', saleItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sale-item', saleItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(saleItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
