<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-extra-heading" data-cy="ExtraCreateUpdateHeading" jhiTranslate="computechApp.extra.home.createOrEditLabel">
        Crear o editar Extra
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="computechApp.extra.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let supplierForeignIdRef = editForm.get('supplierForeignId')!;
        <div class="mb-3">
          <label class="form-label" for="field_supplierForeignId" jhiTranslate="computechApp.extra.supplierForeignId"
            >Supplier Foreign Id</label
          >
          <input
            type="number"
            class="form-control"
            name="supplierForeignId"
            id="field_supplierForeignId"
            data-cy="supplierForeignId"
            formControlName="supplierForeignId"
          />
          @if (supplierForeignIdRef.invalid && (supplierForeignIdRef.dirty || supplierForeignIdRef.touched)) {
            <div>
              @if (editForm.get('supplierForeignId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('supplierForeignId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="computechApp.extra.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="computechApp.extra.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        @let priceRef = editForm.get('price')!;
        <div class="mb-3">
          <label class="form-label" for="field_price" jhiTranslate="computechApp.extra.price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          @if (priceRef.invalid && (priceRef.dirty || priceRef.touched)) {
            <div>
              @if (editForm.get('price')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let freePriceRef = editForm.get('freePrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_freePrice" jhiTranslate="computechApp.extra.freePrice">Free Price</label>
          <input type="number" class="form-control" name="freePrice" id="field_freePrice" data-cy="freePrice" formControlName="freePrice" />
          @if (freePriceRef.invalid && (freePriceRef.dirty || freePriceRef.touched)) {
            <div>
              @if (editForm.get('freePrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('freePrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_devices" jhiTranslate="computechApp.extra.devices">Devices</label>
          <select
            class="form-control"
            id="field_devices"
            data-cy="devices"
            multiple
            name="devices"
            formControlName="devices"
            [compareWith]="compareDevice"
          >
            @for (deviceOption of devicesSharedCollection; track $index) {
              <option [ngValue]="deviceOption">{{ deviceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
