<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customization(); as customizationRef) {
      <div>
        <h2 data-cy="customizationDetailsHeading"><span jhiTranslate="computechApp.customization.detail.title">Customization</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customizationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.customization.supplierForeignId">Supplier Foreign Id</span></dt>
          <dd>
            <span>{{ customizationRef.supplierForeignId }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.customization.name">Name</span></dt>
          <dd>
            <span>{{ customizationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.customization.description">Description</span></dt>
          <dd>
            <span>{{ customizationRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.customization.options">Options</span></dt>
          <dd>
            @for (options of customizationRef.options; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/option', options.id, 'view']">{{ options?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.customization.devices">Devices</span></dt>
          <dd>
            @for (devices of customizationRef.devices; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/device', devices.id, 'view']">{{ devices?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/customization', customizationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
