<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (device(); as deviceRef) {
      <div>
        <h2 data-cy="deviceDetailsHeading"><span jhiTranslate="computechApp.device.detail.title">Device</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ deviceRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.supplierForeignId">Supplier Foreign Id</span></dt>
          <dd>
            <span>{{ deviceRef.supplierForeignId }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.supplier">Supplier</span></dt>
          <dd>
            <span>{{ deviceRef.supplier }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.code">Code</span></dt>
          <dd>
            <span>{{ deviceRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.name">Name</span></dt>
          <dd>
            <span>{{ deviceRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.description">Description</span></dt>
          <dd>
            <span>{{ deviceRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.basePrice">Base Price</span></dt>
          <dd>
            <span>{{ deviceRef.basePrice }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.currency">Currency</span></dt>
          <dd>
            <span>{{ deviceRef.currency }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.active">Active</span></dt>
          <dd>
            <span>{{ deviceRef.active }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.device.characteristics">Characteristics</span></dt>
          <dd>
            @for (characteristics of deviceRef.characteristics; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/characteristic', characteristics.id, 'view']">{{ characteristics?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.device.extras">Extras</span></dt>
          <dd>
            @for (extras of deviceRef.extras; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/extra', extras.id, 'view']">{{ extras?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.device.customizations">Customizations</span></dt>
          <dd>
            @for (customizations of deviceRef.customizations; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/customization', customizations.id, 'view']">{{ customizations?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/device', deviceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
