<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (option(); as optionRef) {
      <div>
        <h2 data-cy="optionDetailsHeading"><span jhiTranslate="computechApp.option.detail.title">Option</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ optionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.option.code">Code</span></dt>
          <dd>
            <span>{{ optionRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.option.name">Name</span></dt>
          <dd>
            <span>{{ optionRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.option.description">Description</span></dt>
          <dd>
            <span>{{ optionRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.option.additionalPrice">Additional Price</span></dt>
          <dd>
            <span>{{ optionRef.additionalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.option.customization">Customization</span></dt>
          <dd>
            @if (option()!.customization) {
              <div>
                <a [routerLink]="['/customization', option()!.customization?.id, 'view']">{{ optionRef.customization?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.option.devices">Devices</span></dt>
          <dd>
            @for (devices of optionRef.devices; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/device', devices.id, 'view']">{{ devices?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/option', optionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
