<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sale(); as saleRef) {
      <div>
        <h2 data-cy="saleDetailsHeading"><span jhiTranslate="computechApp.sale.detail.title">Sale</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ saleRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.supplierForeignId">Supplier Foreign Id</span></dt>
          <dd>
            <span>{{ saleRef.supplierForeignId }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.devicePrice">Device Price</span></dt>
          <dd>
            <span>{{ saleRef.devicePrice }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.finalPrice">Final Price</span></dt>
          <dd>
            <span>{{ saleRef.finalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.saleDate">Sale Date</span></dt>
          <dd>
            <span>{{ saleRef.saleDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.currency">Currency</span></dt>
          <dd>
            <span>{{ saleRef.currency }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.finalized">Finalized</span></dt>
          <dd>
            <span>{{ saleRef.finalized }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.user">User</span></dt>
          <dd>
            <span>{{ saleRef.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.sale.device">Device</span></dt>
          <dd>
            @if (sale()!.device) {
              <div>
                <a [routerLink]="['/device', sale()!.device?.id, 'view']">{{ saleRef.device?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/sale', saleRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
