<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (saleItem(); as saleItemRef) {
      <div>
        <h2 data-cy="saleItemDetailsHeading"><span jhiTranslate="computechApp.saleItem.detail.title">Sale Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ saleItemRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.saleItem.price">Price</span></dt>
          <dd>
            <span>{{ saleItemRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="computechApp.saleItem.option">Option</span></dt>
          <dd>
            @if (saleItem()!.option) {
              <div>
                <a [routerLink]="['/option', saleItem()!.option?.id, 'view']">{{ saleItemRef.option?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.saleItem.extra">Extra</span></dt>
          <dd>
            @if (saleItem()!.extra) {
              <div>
                <a [routerLink]="['/extra', saleItem()!.extra?.id, 'view']">{{ saleItemRef.extra?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="computechApp.saleItem.sale">Sale</span></dt>
          <dd>
            @if (saleItem()!.sale) {
              <div>
                <a [routerLink]="['/sale', saleItem()!.sale?.id, 'view']">{{ saleItemRef.sale?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/sale-item', saleItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
